<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mpbd.mappingbird"
    android:versionCode="100101"
    android:versionName="1.1.1" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name = "android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <application
        android:name="com.mappingbird.common.MappingBirdApplication"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!--
        <activity
            android:name="com.mappingbird.offline.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name="com.mpbd.mappingbird.MappingBirdLogoActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mpbd.mappingbird.MappingBirdPlaceActivity"
            android:theme="@style/AppPlaceTheme"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mpbd.tutorial.MBTutorialActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mpbd.mappingbird.MappingBirdLoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mappingbird.collection.MappingBirdCollectionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mappingbird.saveplace.MappingBirdPickPlaceActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mappingbird.saveplace.MappingBirdAddPlaceActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mpbd.mappingbird.MBSettingsActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <service 
            android:name="com.mpbd.services.MBService"
            android:exported="true">
            
        </service>
        
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBZOPwIEZHVHegsqb5MDjT-tm3upt_cqnk" />
        <!--
        formal
        AIzaSyAOoW4gqgCyPTGaXZj0-y3jkC3VfsNNbN0 - old
        AIzaSyBZOPwIEZHVHegsqb5MDjT-tm3upt_cqnk
        Test
        AIzaSyBlbCWPNXgMkH6f8v1Q3ZLJs_yAAAX6aS0
         -->
    </application>

    <!-- The Google Maps Android API uses OpenGL ES version 2 to render the map -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

</manifest>